body{margin:0;padding:0;font-family:Arial;background:#0f172a;min-height:100vh;display:flex;justify-content:center;align-items:center;color:#fff;}
.wrapper{width:100%;max-width:1100px;padding:20px;}
.glass-card{background:rgba(255,255,255,0.06);padding:25px;border-radius:14px;backdrop-filter:blur(10px);border:1px solid rgba(255,255,255,0.1);}
input,button{width:100%;padding:10px;margin-top:10px;border-radius:8px;border:none;}
button{background:#3b82f6;color:white;font-weight:bold;}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:20px;margin-top:20px;}
.card{background:rgba(255,255,255,0.05);padding:20px;border-radius:12px;text-align:center;border:1px solid rgba(255,255,255,0.1);}
.icon{width:60px;height:60px;margin:auto;border-radius:50%;background-size:70%;background-position:center;background-repeat:no-repeat;}
.facebook{background-image:url("https://cdn-icons-png.flaticon.com/512/733/733547.png");background-color:#0866ff;}
.instagram{background-image:url("https://cdn-icons-png.flaticon.com/512/2111/2111463.png");background-color:#C833A4;}
.x{background-image:url("https://cdn-icons-png.flaticon.com/512/5968/5968830.png");background-color:black;}
.youtube{background-image:url("https://cdn-icons-png.flaticon.com/128/1384/1384060.png");background-color:#ff0000;}
.tiktok{background-image:url("https://cdn-icons-png.flaticon.com/512/3046/3046121.png");background-color:black;}
a{color:#38bdf8;}
