<!DOCTYPE html>
<html>
<head>
    <title>Sosmed Auto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="wrapper">
    <div class="glass-card">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>
